@{
    Layout="~/Views/Shared/_AdminLayout.cshtml";
}


<div class="">
    <h5>
        Anouncments
    </h5>
    <hr>
<form action="" method="POST" enctype="multipart/form-data">
<div class="row">
<div class="col m4 input-field">
    <input type="text" style="font-family: Faruma;direction: rtl" name="Title"/>
<label>Title</label>
</div>
</div>
<div class="row">
<div class="col m4 ">
<label>document</label>
<input type="file" name="Doc"/>
</div>
</div>
<div class="row">
    <div class="col m4 input-field">
        <select name="Catogary">
            <option value="public">public</option>
            <option value="organization">organization</option>
            <option value="council">council</option>

        </select>
        <label for="">catogary</label>
    </div>
</div>
<div class="row">
<input type="submit" value="upload"  class="btn"/>
</div>
</div>
</form>
</div>