@{
    Layout="~/Views/Shared/_AdminLayout.cshtml";
}

<h5>
    Cafey & Restaurent Data
</h5>
<hr>
<form action="" method="POST" enctype="multipart/form-data">
    <div class="row">
        <div class="col m6 input-field">
            <input type="text" name="Title" value="" class="dh" style=" font-familyFaruma;direction:rtl">
            <label for="">name</label>
        </div>
    </div>
      <div class="row">
        <div class="col m6 ">
            <label for="">pic</label>
<br>
            <input type="file" name="pic" value="" >
        </div>
    </div>
    <div class="row">
        <div class="col m6 input-field ">
                      <textarea id="textarea1" class="materialize-textarea" name="Text"></textarea>

            <label for="">discription</label>
           

        </div>
    </div>
    <div>
        <input type="submit" name="" value="upload">
    </div>
</form>