@{
    Layout="~/Views/Shared/_AdminLayout.cshtml";
}

<h5>
    Upload Doc
</h5>
<hr>
<form action="" method="post">
    <div class="row">
        <div class="col m4 input-field">

        </div>
    </div>
</form>