@{
    ViewData["Title"] = "Home Page";
}

<div class="">


    

    <div class="slider">
        <ul class="slides">
            @foreach (var item in ViewBag.slider)
            {
                <li>
                    <img src="~/slideImage/@item.ImgUrl"> <!-- random image -->
                    <!-- <div class="caption center-align">
                        <h3>This is our big Tagline!</h3>
                        <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                    </div> -->
                </li>
            }




        </ul>
    </div>
    <div class="">
            <div class="row">
        <div class="col m4 s12">
            <div class="row">
   <h5 class="dh center-align" style="font-size: 25px;" ><strong>    ގެލަރީ   </strong></h5>
            
<hr>
 </div>
 <div class="row">
        @foreach (var item in ViewBag.gallery)
     {
     <img src="~/gallery/@item.ImgUrl" style="width: 80px;">
         
     }
 </div>
           
        <div class="row">
   <h5 class="dh center-align" style="font-size: 25px;" ><strong>    އިސްތިހާރު   </strong></h5>
            
<hr>
 </div>
 <div class="row">
 
     
    
 </div> 
           
 


        </div>
        
        <div class="col m4 s12">
            
              <h5 class="dh center-align" style="font-size: 25px;" ><strong>   ފަހުގެ އެންގުންތައް   </strong></h5>
        <hr>
       @foreach (var item in ViewBag.anouncements)
       {
          <ul class="right-align">
              <li style="font-family: Faruma;direction: rtl;font-size: 20px;">
              <a href=""><img src="~/images/icon/red-circle-with-pdf-icon-png-20.png" style="width: 25px;padding-left: 5px;"> @item.Title</a>
             </li>
          </ul>
           
              
           
       }
         
        </div>
        <div class="col m4 s12 right">
           
             <h5 class="dh center-align" style="font-size: 25px;" ><strong>   ފަހުގެ ޙަބަރު   </strong></h5>
        <hr>
       @foreach (var item in ViewBag.news)
       {
           <div class="row">
       
               <div class="col s4"><img src="~/newsImage/@item.ImgUrl" style="width: 85%;" class="responsive-img"></div>
                <div class="col s8 right-align"><a class="dh right-align" style="font-size: 19px;" href="@Url.Action("Index","News",new{id =@item.Id})">@item.Title</a></div>
           </div>
           <hr>
           
              
           
       }
         
        </div>
    </div>

</div>

    </div>

    